@font-face {
  font-family: bangla-font;
  src: url(./assets/Li-Niladri-Rongtuli-Unicode.ttf);
}

@font-face {
  font-family: pop;
  src: url(./assets/Poppins-SemiBold.ttf);
}

body {
  padding: none;
  margin: none;
  display: flex;
  width: 95vw;
  height: 96vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: bangla-font, sans-serif;
  color: rgb(208, 208, 211);
  background-color: rgb(20, 16, 16);
}
h1 {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  color: rgb(221, 160, 160);
  font-weight: normal;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.7rem;
}

.p {
  margin-top: 0.6rem;
}

#dayBaki {
  font-family: pop, sans-serif;
  font-size: 1.5rem;
}

#dayBaki span {
  font-size: 4rem;
  color: rgb(233, 8, 8);
}

@media screen and (max-width: 750px) {
  #hero {
    max-width: 90%;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  #dayBaki {
    font-size: 1.3rem;
  }
}
