@font-face {
  font-family: bangla-font;
  src: url(./assets/Li-Niladri-Rongtuli-Unicode.ttf);
}

/* @font-face {
  font-family: pop;
  src: url(./assets/Poppins-SemiBold.ttf);
} 
*/

@font-face {
  font-family: arabic;
  src: url(./assets/UthmanicHafs1Ver18.woff2)
}

html {
  background-color: rgb(20, 16, 16);
}

body {
  padding: none;
  margin: none;
  display: flex;
  width: 95vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  font-family: bangla-font, sans-serif;
  color: rgb(208, 208, 211);
  background-color: rgb(20, 16, 16);
}

#hero {
  margin-top: 30vh;
}
h1 {
  font-size: 2.5rem;
  color: rgb(221, 160, 160);
  font-weight: normal;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.7rem;
  margin-top: 0.6rem;
}


.day {
  font-size: 4rem;
  color: rgb(233, 8, 8);
}

@media screen and (max-width: 750px) {
  #hero {
    max-width: 90%;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }

  #dayBaki {
    font-size: 1.3rem;
  }
}


.ara {
  font-family: arabic;
}